section {
    position: relative;
    .login {
        position: absolute;
        color: rgb(0, 0, 0);
        padding: 4px;
        background: #fff;
        
    }
    .signin {
        position: absolute;
        color: rgb(0, 0, 0);
        padding: 4px;
        background: #fff;
        top: 10%;
        
    }
}

