section {
    position: relative;
    .login {
        position: absolute;
        padding: 4px; 
        left: 83.4%;
        color: #fff;
        text-decoration: none;

        padding-left: 20px;
        padding-right: 20px;
        padding-top: 12px;
        padding-bottom: 12px;

        width: 106px;
        margin-top: 200px;
        
    }
    .signin {
        position: absolute;
        padding: 4px;
        left: 73%;
        color: #fff;
        text-decoration: none;

        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 20px;
        padding-right: 20px;

    
        width: 182px;
        margin-top: 276px;
        
    }

    .active {
        background: #fff;
        color: rgb(0, 0, 0);
        border-radius: 20px 0px 0px 20px;
    }
}

